h1{
    background-color: red;
    color: white;
    position: absolute;
    margin: 0px;
    padding: 10px;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 7px gray;
    text-align: center;

}
h2{
	font-size: 15px;
	text-align: center;
}

p{
	text-indent: 30px;
}
.listaPerguntas > li {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 8px;
	background-color: #f2f2f2;
	box-shadow: 0px 2px 4px 1px gray;
	border-radius: 5px;
}

.topicoAssunto{
	padding: 20px;
	font-size: 20px;
	text-align: center;
	background-color: red;
	color: white;
	border-radius: 5px;
}

.listaMenu1{
	text-align: left;
}

.rodapeFix{
	font-size: 20px;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	color: white;
	background-color: red;
	width: 100%;
	margin: 0px;
	padding: 15px;
	box-shadow: 0px -2px 4px 1px gray;
	border-radius: 5px;

}